<h1> Register the user</h1>
<%= form_for @user, :remote => true , :id => 'form' do |f|%>
<%if @user.errors.any? %>
<%= @user.errors.count %>
<ul>
<%@user.errors.full_messages.each do |error| %>
 <li><%= error %></li>
<% end %>
  </ul>
<% end  %>
<%= f.label 'First Name:' %>
<%= f.text_field :first_name , :id =>'first_name' %><br><br>


<%= f.label 'Last Name:' %>
<%= f.text_field :last_name, :id => 'last_name' %><br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label 'Email:' %>
<%= f.text_field :email, :id => 'email' %><br><br>

&nbsp;<%= f.label 'Birth Date:' %>
<%= f.text_field :date_of_birth %><br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label 'Phone:' %>
<%= f.text_field :phone_no %><br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label 'Mobile:' %>
<%= f.text_field :mobile_no %><br><br>
<%= f.submit 'Save Info', :id => 'form_submit'%><br><br>
<%= link_to 'Close',users_path,:method => 'get', :class => 'close'%>
<% end %>
