<!-- The index page of this user apllication which displays all the user 
	along with their details in table format by rendering table partial .Also it allows to add/edit/show/delete a user.-->
<h1>Hello!</h1>
<% if false %>
Controller Data:<%= @controllerMessage%>
<%= link_to 'Add new User', new_user_path %>
<% hello = "world" %>
<%= localvariable %>
<%= link_to'Add New User', new_user_path%>
<% end%>

<head>
<%# The following line of code represents CSS
      for styling the elements in this web page %>
<%= stylesheet_link_tag('user') %>
</head>

<body>
<%# The following line of code represents Jquery library plugin
      for styling the elements in this web page %>


<button id = "button">Add new user</button>
<dialog id = "dialog">
</dialog>


<%# The following code represents the table which lists all
      users.%>
<div class="user_list">
  <%= render 'table' %>
</div>

</body>