<h1>Welcome to rails</h1>
Controller Data:<%= @controllerMessage%><br>
<br>
<% if false %>
<%= link_to 'Add new User', new_user_path %>
<% end %>
<br><br>
<% if false%>
<% hello = "world" %>
<%= localvariable %>
 <% end %>
<%= form_for :nil, url: new_user_path , :method => :get do |f|%>
<%= f.submit "Add User"%>
<% end %>
<h1>The User records are </h1>
 <table>
 	<tr>
 		<th>First Name</th>
 		<th>Last  Name</th>
		 <th>Email</th>
		 <th>D.O.B</th>
		 <th>Active</th>
		 <th>Phone no</th>
		 <th>Mobile no</th>
	</tr>
 <% @users.each do |user|%>
 <tr>
	 <td><%= user.first_name%></td>
	 <td><%= user.last_name%></td>
	 <td><%= user.email%></td>
	 <td><%= user.date_of_birth %></td>
	 <td><%= user.active %></td>
	 <td><%= user.phone_no%></td>
	 <td><%= user.mobile_no%></td>
	 <td><%= link_to 'Show', user_path(user)%></td>
	 <td><%= link_to 'Edit', edit_user_path(user)%></td>
	 <td><%= link_to 'Delete', user_path(user), :method => :delete %></td>
</tr>
 <% end %>
 </table>


